
.contact-container{
    // height: 30vh;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10%;
    padding: 1rem 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e7e7e7;
    

    .contact-info{
        padding-left: 10%;
        a{
            display:flex;
            align-items: center;
            gap:5px;
            padding: 5px;

            img{
                width:30px;
            }
        }
        a:hover{
            opacity: 0.5;
            transition: 0.3s;
            transform: scale(1.05);
        }
    }

    .subtitle{
        font-size: 2.5rem;
        margin-bottom: auto;
        padding: 30px;
        width: 20%;
    }

    .contact-wrapper{
        padding-top: 10vh;
        display: flex;
        width: 50vw;
        .contact-form{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .contact-form>*{
            font-size: 1rem;
        }

        
    }
    footer {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 700;
    }
}