.navbar {
    height: 70px;
    width: 100%;
    font-family: "Oxygen Mono";
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    position: fixed;
    z-index: 999;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    
    transition: transform 0.5s ease, opacity 0.5s ease-in-out;
    transform: translateY(-100%);


    .wrapper {
        max-width: 1366px;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
           

        .logo {
            font-weight: 700;
            font-size: 24px;
            padding: 0 20px;
        }

        span {
            display: flex;
            gap: 20px;

            a {
                position: relative;
                color: #212427; /* Set the desired text color */
            }
            a::before {
                content: "";
                position: absolute;
                width: 0;
                height: 1.5px; /* Set the desired underline thickness */
                background-color: rgb(70, 70, 70); /* Set the desired underline color */
                bottom: 0;
                left: 0;
                transition: width 0.3s ease; /* Set the animation duration and timing function */
            }

            /* Triggering the animation on hover */
            a:hover::before {
                width: 100%;
            }
        }
        
    }

    

}

.navbar.hidden {
    opacity: 0;
    transform: translateY(-100%); /* Move it out of view */
    pointer-events: none; /* Prevent interaction when hidden */
}

.navbar.visible {
    opacity: 1;
    transform: translateY(0); /* Move it back into view */
    pointer-events: auto; /* Allow interaction when visible */
}



