footer{

    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ece9e9;
    
    pre{
        font-family: 'Oxygen Mono', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}