html {
    // scroll-snap-type: y mandatory;
    // scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 1366px;
    background-color: #faf9f6;
    color: #000000;
    // overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    height: 100vh;
    // overflow-x: hidden;
}

section {
    position: relative;
    overflow: hidden;
}
