html{
    scroll-snap-type: y;
    scroll-behavior: smooth;
    
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    min-width: 1366px;
    background-color: #d9d9d91c;
    color: #212427;
}

a {
    text-decoration: none;
    color: inherit;
}

section{
    // min-height: 100vh;
    scroll-snap-align: center;
}